.TextContainer {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-left: 0px;
  margin-bottom: 2em;
  margin-right: 0px;
  margin-top: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
}
.TextControls {
  margin-top: 1em;
}
