.TextContainer {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-left: 0px;
  margin-bottom: 2em;
  margin-right: 0px;
  margin-top: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
}
.TextEdit {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 0px;
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  overflow: auto;
  resize: vertical;
  line-height:1.2em;
}
.TextView {
  display: inline-block;
  width: 80%;
  min-height: 2em;
  text-align: left;
  padding: 0px;
  margin: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  overflow: auto;
  line-height:1.2em;
}
.TextView > p{
  margin-top: 0px;
  margin-bottom: 0.0em;
  min-height: 1.2em;
  line-height:1.2em;
}
.TextControls {
  margin-top: 1em;
}
